<!DOCTYPE html>
<html>
  <head>
    <title>AjaxPostingApp2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "jquery_1", jquery_1_path %> ^1^
    <%= link_to "jquery_2", jquery_2_path %> ^1^
    <%= link_to "jquery_3", jquery_3_path %> ^1^
    <%= link_to "jquery-4", jquery_4_path %> ^1^
    <%= link_to "jquery-5", jquery_5_path %>
    <%= yield %>
  </body>
</html>
